@import "customVariables";
// *****************************************HOME PAGE ***********************************************
// NAVBAR
nav {
    background-color: $primary;
    .name {
        display: flex;
        h3 {
            margin-top: 12px;
            color: $white;
        }
    }
    ul {
        li {
            margin-left: 1em;
            font-size: 1.7em;
            margin-top: 3px;
            a {
                color: $white;
                font-weight: $font-weight-bold;
                &:hover {
                    background-color: $secondary;
                }
            }
            .btn-nav {
                background-color: $secondary !important;
                color: $white;
                font-size: 1em !important;
                font-weight: $font-weight-bold !important;
                border: none;
                margin-top: 3px;
                border-radius: 5px;
                box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.644), inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
                span {
                    background-color: red;
                    padding: 0 5px;
                }
            }
        }
    }
    // .navbar-toggler {
    //     .navbar-toggler-icon {
    //         border: 1px solid $white;
    //     }
    .nav-link {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background: $white;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.25s ease-in;
        }
        &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
        }
    }
}

.social {
    margin-left: 1.25em;
}

// SECTION a
.section-a {
    // margin-top: 5em;
    background: url(../images/Project1/background.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    img {
        max-width: 250px;
        margin-bottom: 5em;
        clip-path: circle(26.3% at 51% 51%);
    }
    .col-12 {
        margin-top: 5em;
        text-align: center;
        color: $white;
        p {
            margin-top: 2em;
            color: black;
        }
    }
    .bubbles {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-around;
        .bubble1 {
            width: 45px;
            margin: 0;
            border: none;
            animation: moving 7s 1s linear infinite;
        }
        .bubble2 {
            width: 120px;
            margin: 0;
            border: none;
            animation: moving 7s 5s linear infinite;
        }
        .bubble3 {
            width: 55px;
            margin: 0;
            border: none;
            animation: moving 7s 3s linear infinite;
        }
        .bubble4 {
            width: 70px;
            margin: 0;
            border: none;
            animation: moving 7s 1s linear infinite;
        }
        .bubble5 {
            width: 50px;
            margin: 0;
            border: none;
            animation: moving 7s 6s linear infinite;
        }
        .bubble6 {
            width: 100px;
            margin: 0;
            border: none;
            animation: moving 7s 2s linear infinite;
        }
        .bubble7 {
            width: 45px;
            margin: 0;
            border: none;
            animation: moving 7s 1s linear infinite;
        }
        @keyframes moving {
            0% {
                opacity: 0;
                transform: translateY(0);
            }
            25% {
                opacity: 1;
                transform: translateY(-250px) scale(1.1);
            }
            50% {
                opacity: 1;
                transform: translateY(-500px) scale(1.4);
            }
            75% {
                opacity: 0.5;
                transform: translateY(-750px) scale(1.6);
            }
            100% {
                opacity: 0;
                transform: translateY(-900px) scale(2);
            }
        }
    }
    .glassmorphism {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        height: 250px;
        color: $white;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(70px);
        background-clip: padding-box;
        border-radius: 20px;
        box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.644), inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
        overflow: hidden;
        clip-path: circle(6.1% at 50% 13%);
        animation: glassmorphism 1s ease-in alternate infinite;
        @keyframes glassmorphism {
            0% {
                transform: translateY(0);
            }
            100% {
                transform: translateY(40px);
            }
        }
        p {
            text-align: center;
            color: black;
        }
        i {
            font-size: 3em;
        }
        &:hover {
            clip-path: circle(100% at 50% 50%);
            transition: clip-path 2s ease-in;
        }
    }
    .glassmorphism1 {
        position: absolute;
        top: 2em;
        left: 2em;
    }
    .glassmorphism2 {
        position: absolute;
        right: 2em;
        top: 2em;
    }
    .glassmorphism3 {
        position: absolute;
        bottom: 2em;
        right: 2em;
    }
    .glassmorphism4 {
        position: absolute;
        bottom: 2em;
        left: 2em;
    }
}

// SECTION b
.section-b {
    margin-top: $section-margin-top;
    .container {
        padding: 4em 2em;
        background: rgb(241, 239, 239);
    }
    img {
        max-width: 100%;
        animation: image 6s 2s ease-in infinite alternate;
        @keyframes image {
            0% {
                transform: translateX(-1200px);
            }
            100% {
                transform: translateX(0);
            }
        }
    }
    .responsive {
        text-align: center;
        font-size: 1.25em;
        animation: responsive 6s 2s ease-in infinite alternate;
        @keyframes responsive {
            0% {
                transform: translateX(1200px);
            }
            100% {
                transform: translateX(-100px);
            }
        }
    }
    @media (max-width: 992px) {
        .responsive {
            margin-top: 4em;
        }
    }
}

//SECTION c
.section-c {
    margin-top: $section-margin-top;
    .row {
        text-align: center;
    }
    p {
        margin-top: 2em;
    }
}

//SECTION d
.section-d {
    margin-top: $section-margin-top;
    .container {
        padding: 4em 4em;
        background: rgb(241, 239, 239);
        border-radius: 20px;
    }
    .col-md-4 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        padding: 0 10px;
        border-radius: 20px;
        h3 {
            color: $primary;
        }
        .fas {
            font-size: 5em;
            color: $primary;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .fab {
            font-size: 5em;
            color: $primary;
            margin-top: 1em;
            margin-bottom: 1em;
        }
        h3 {
            margin: 0.5em 0;
        }
        p {
            margin: 1em 0;
        }
    }
}

// SECTION e
.section-e {
    margin: $section-margin-top;
    .col-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        margin-top: 5em;
    }
}

// FOOTER
footer {
    background-color: $secondary;
    .container {
        background: $bg-secondary;
    }
    .social-list {
        display: flex;
        justify-content: center;
        margin: 2em;
        .social1 {
            background: #2ba1c5;
            border-radius: 100%;
            margin: 1.3em;
        }
        .social2 {
            background: #b30c0c;
            border-radius: 100%;
            margin: 1.3em;
        }
        .social3 {
            background: #3664a2;
            border-radius: 100%;
            margin: 1.3em;
        }
        .social4 {
            background: #1e75af;
            border-radius: 100%;
            margin: 1.3em;
        }
        a {
            color: $white;
            font-size: 1.5em;
            font-weight: $font-weight-bold;
            padding: 1em;
        }
        .btn-bottom {
            padding: 2px 10px;
            background: #2ba1c5;
            border: none;
        }
    }
    .back-to-top {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            font-size: 1.5em;
            color: $white;
            display: none;
        }
        .fa-arrow-circle-up {
            margin-bottom: 1em;
            background: $primary;
            padding: 25px;
            border-radius: 100%;
            font-size: 2em;
            color: $white;
            box-shadow: 12px 12px 16px 0 rgba(246, 243, 243, 0.678) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.651) inset;
        }
    }
    .back-to-top:hover {
        p {
            display: inline;
        }
        .fa-arrow-circle-up {
            transform: scale(1.3);
            transition: transform 2s;
            animation: myArrow infinite 0.5s ease-in alternate;
            @keyframes myArrow {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(20px);
                }
            }
        }
    }
}

// *****************************************MENTORSHIP PAGE ***********************************************
.section-mentorship {
    margin-top: 20em;
    .container {
        padding: 4em 4em;
        background: rgb(241, 239, 239);
        border-radius: 20px;
    }
    .col-md-4 {
        background: $white;
        padding: 2em;
        text-align: center;
        border: 10px solid rgb(241, 239, 239);
        border-radius: 20px;
        h2 {
            color: $primary;
        }
        .money {
            font-size: 2.5em;
            color: $primary;
            margin: 1em;
        }
        .good {
            color: $primary;
        }
    }
    .col-12 {
        margin-top: 3em;
        display: flex;
        justify-content: center;
    }
}

.mentoring-style {
    margin-top: $section-margin-top;
    .col-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $primary;
        }
        p {
            margin: 2em;
        }
    }
    .col-md-6 {
        padding: 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(245, 242, 242);
        border-radius: 20px;
        border: 10px solid white;
        h2 {
            color: $primary;
        }
        p {
            text-align: center;
        }
    }
}

// *****************************************PORTFOLIO PAGE ***********************************************
.recent-works {
    margin: 10em;
    .col-12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            color: $primary;
        }
        span {
            color: $primary;
        }
    }
}

.projects {
    .card {
        padding: 0;
        background: #525d68 !important;
        border: 5px solid $white;
        border-radius: 20px;
        img {
            height: 300px;
        }
        .card-img-overlay {
            display: none;
            h5 {
                color: $primary;
            }
            p {
                text-align: center;
            }
        }
    }
    .card:hover {
        img {
            opacity: 0;
            transition: opacity 2.2s;
        }
        .card-img-overlay {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}