@import "customVariables";
//to set bubbles
@mixin bubblesGeneral($width, $position, $bottom, $display, $content) {
    width: $width;
    position: $position;
    bottom: $bottom;
    display: $display;
    justify-content: $content;
}

//to set bubble margin and border
@mixin bubbleMarginAndBorder($margin, $border) {
    margin: $margin;
    border: $border;
}

//set to home "li" element
@mixin liHomeElement($left, $size, $top) {
    margin-left: $left;
    font-size: $size;
    margin-top: $top;
}

//set  h3
@mixin h3($top, $color) {
    margin-top: $top;
    color: $color;
}

//set footer social links
@mixin socialLinks($radius, $margin) {
    border-radius: $radius;
    margin: $margin;
}

//set footer back to top button
@mixin backToTop($display, $direction, $justify, $align) {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

//set text color based on the background color
@function set-text-color($bg-color) {
    @if (lightness($bg-color) >70) {
        @return #333;
    }
    @else {
        @return #fff;
    }
}